body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Main Layout */
.layout {
  display: flex;
  flex-direction: row;
}

/* Info Left Side Nav*/
.sideNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 200px;
  max-width: 200px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: linear-gradient(to bottom right, #70e1f5, #ffd194);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  max-height: 100vh;
  margin: auto;
  width: 100%;
  overflow: auto;
}

.profPic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.stopgap {
  min-height: 1000px;
  max-height: 1000px;
}

.profName {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.profByline{
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.profDesc {
  margin: 0;
  margin-bottom: 10px;
  font-size: 11px;
}
.profEmail {
  margin: 0;
  font-size: 11px;
  font-weight: 500;
}
.profLinks {
  margin-top: 5px;
}
.profLinks > a > svg {
  max-width: 20px;
  max-height: 20px;
  margin-right: 10px;
}

.container {
  flex: 1;
}

h1 {
  font-size: 26px;
}


/* Smaller screens */
@media screen and (max-width: 600px) {
  .layout {
    flex-direction: column;
    max-width: 100vw;
  }
  .sideNav {
    max-width: none;
    min-height: 20%;
    align-items: center;
    flex: 1;
    max-height: 20%;
  }
  .main {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    overflow: visible;
  }
  .profDesc {
    text-align: center;  
  }
}